<section class="container">
    <img src="assets/profile.png">
    <div class="text">
        <div class="header">About Me</div>
        Griffin Moyer (he/him) is a Senior at the University of Colorado Boulder studying Computer Science. He is currently working for <a href="https://sherpa6.com">Sherpa 6</a> as a software engineer intern. He has worked for the <a href="https://www.hill.af.mil/">US Air Force</a> developing a full stack workflow application and for <a href="https://www.goldensoftware.com/">Golden Software</a> designing automated regression tests. Griffin is fascinated by <i>Human Centered Design</i> and <i>Machine Learning</i>, and is currently the lead developer on an action roguelike video game he is building in his free time. He loves the outdoors and when he isn't working on coding one of his games or automations, you will find him outside climbing, hiking, biking, or snowboarding. Check out his <a [routerLink]="['/projects']">projects page</a> to see what he is up to!
    </div>
</section>