<section class="container">
    <img src="assets/profile.png">
    <div>
         Griffin Moyer is a current Junior at University of Colorado Boulder studying Computer Science. He has worked for the <a href="https://www.hill.af.mil/">Air Force</a> developing a fullstack workflow application, and for <a href="https://www.goldensoftware.com/">Golden Software</a>, designing automated regression tests. He loves the outdoors, and when he isn't working on coding one of his games or automations, you will find him outside climbing, hiking, biking, or snowboarding. Griffin is fascinated by <i>Human Centered Design</i> and <i>Machine Learning</i>, and wants to engineer an AI that is based on human neurons. Check out his <a [routerLink]="['/projects']">projects page</a> to see what he is up to!
    </div>
</section>