.content
    display: flex
    width: 100%
    flex-direction: column
    justify-content: start
    align-items: center
    margin-top: 10em
.post
    width: 50%
    height: 2em
    margin-bottom: 1em
    padding-left: 1em
    background-color: white
    color: var(--primary-text-color)
    display: flex
    flex-direction: row
    align-items: center
    font-size: 2.5em
    cursor: pointer
    transition: scale 0.5s
.post:hover
    scale: 1.2