<div class="background" [@BubbleAnimation]="router.url">
    <div *ngFor="let layer of bubbleLayers" class="bubbleLayer" [ngStyle]="layer.style">
        <div *ngFor="let bubble of layer.bubbles" class="bubble" [ngStyle]="bubble.style"
        (mouseenter)="bubble.setHovering(true)" 
        (mouseleave)="bubble.setHovering(false)">
        </div>
    </div>
    
</div>
<div class="nav">
    <div id="home" [routerLink]="['/']" title="Home">G</div>
    <div class="menuNav" [routerLink]="['/']">Home</div>
    <div class="menuNav" *ngFor="let item of menu" [routerLink]="item.link">{{item.title}}</div>
</div>
<router-outlet></router-outlet>