$layout-small: 900px

.content
    width: 100%
    display: flex
    flex-direction: column
    align-items: center
.post
    width: 70vw
    min-height: calc(100vh - 10em)
    padding-bottom: 10em
    //border: 1em solid white
    //border-radius: 1em
    background-color: white
    color: var(--primary-text-color)
.title
    text-align: center
    font-size: 2em
    font-weight: bold
    margin-bottom: 1em
    margin-top: 4em
    margin-left: 1em
    margin-right: 1em
.text
    margin: 1em 17vw
.image
    margin: 3em 0em
    font-style: italic
    text-align: center
    img
        max-height: 20vw
        max-width: 60vw
.link
    text-align: center
    margin: 3em 0em


@media (max-width: $layout-small)
    .post
        width: 100vw
    .text
        margin: 1em 10vw