/* You can add global styles to this file, and also import other style files */
:root
    --primary-text-color: #333333
    --bubble-gray: #c5c5c5
    --bubble-border: #ebebeb
    --hover-green: rgb(210, 255, 210)
    font-family: Tahoma, sans-serif
body
    margin: 0