/* You can add global styles to this file, and also import other style files */
$layout-small: 500px
:root
    --primary-text-color: #333333
    --bubble-gray: #c5c5c5
    --bubble-border: #ebebeb
    --hover-green: rgb(210, 255, 210)
    --secondary-text-color: #b1b1b1
    font-family: Tahoma, sans-serif
body
    margin: 0
.tooltip
    position: absolute
    left: calc(100% + 1em)
    background-color: white
    border: 1px solid var(--bubble-gray)
    padding: 0.1em
    font-size: 0.7em
    text-align: center
    div
        width: 0.5em
        height: 0.5em
        position: absolute
        top: 50%
        left: 0%
        transform: translate(-50%, -50%) rotate(45deg)
        background-color: white
        border-bottom: 1px solid var(--bubble-gray)
        border-left: 1px solid var(--bubble-gray)



.header
    position: absolute
    top: 0
    left: 0
    transform: translateY(-100%)
    font-size: 100px
    color: rgba(0, 0, 0, 0)
    font-weight: bolder
    -webkit-text-stroke: 5px
    -webkit-text-stroke-color: var(--secondary-text-color)