.content
    position: absolute
    left: 50vw
    top: 50vh
    width: 95%
    transform: translate(-50%, -50%)
    display: flex
    flex-direction: row
    align-items: center
    justify-content: center
    pointer-events: none
.name
    font-size: 10em
    color: transparent
    text-shadow: rgba(0, 0, 0, 0.09) 0px 3px 12px
    font-family: Tahoma, sans-serif
    font-weight: bolder
    letter-spacing: -0.02em
    background-clip: text
    -webkit-background-clip: text

.menu
    display: flex
    align-items: center
    flex-direction: column
    height: 100vh
    justify-content: center
    width: 30em
    margin-left: 5em
    margin-right: 5em
    *
        pointer-events: auto
        border-radius: 50%
        background-color: var(--bubble-gray)
        width: 5em
        height: 5em
        display: flex
        align-items: center
        flex-direction: column
        justify-content: center
        margin: -1em
        transition: scale 0.5s, background-color 0.5s, color 0.5s
        color: white
        font-size: 3em
        box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.2) 0px 18px 36px -18px
    *:nth-child(even)
        transform: translateX(30%)
    *:nth-child(odd)
        transform: translateX(-30%)
    *:hover
        scale: 1.2
        background-color: white
        color: var(--bubble-gray)
        cursor: pointer